{% extends 'core/base.html' %}

{% block title %} {% endblock %}


{% block content %}

    <div>
        followers
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ post.user.username }}</h5>
                    <p class="card-text"> {{ post.title }}</p>
                </div>
                <img src="{{ post.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'likes' post.id %}">{{ post.likes }} Like</a>
                        <a href="{% url 'post_detail' post.id %}"> Comment</a>
                        Share
                    </h5>
                    <p class="card-text"> {{ post.user.username }}: {{ post.content }}</p>
                    <p class="card-text"><small class="text-muted">{{ post.created_at }}</small></p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            {% for c in comments %}
                <h4>{{ c.profile }}</h4>
                <p>{{ c.text }}</p>
            {% endfor %}

            <hr>
            <form method="post">
                {% csrf_token %}
                {{ form.text }}
                <input type="hidden" value="{{ post.id }}" name="post_id">
                <button type="submit">Post</button>
            </form>

        </div>
    </div>
{% endblock %}